[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "ponytail"]
	path = ponytail
	url = https://github.com/DietrichGebert/ponytail.git
[submodule "andrej-karpathy-skills"]
	path = andrej-karpathy-skills
	url = https://github.com/multica-ai/andrej-karpathy-skills.git
[submodule "humanizer"]
	path = humanizer
	url = https://github.com/blader/humanizer.git
[submodule "agent-rules"]
	path = agent-rules
	url = https://github.com/steipete/agent-rules.git
[submodule "cc-switch"]
	path = cc-switch
	url = https://github.com/farion1231/cc-switch.git
[submodule "awesome-claude-skills"]
	path = awesome-claude-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills.git
[submodule "awesome-cursorrules"]
	path = awesome-cursorrules
	url = https://github.com/PatrickJS/awesome-cursorrules.git
[submodule "FREE-openai-api-keys"]
	path = FREE-openai-api-keys
	url = https://github.com/dan1471/FREE-openai-api-keys.git
[submodule "Figma-Context-MCP"]
	path = Figma-Context-MCP
	url = https://github.com/GLips/Figma-Context-MCP.git
[submodule "awesome-cursor-rules-mdc"]
	path = awesome-cursor-rules-mdc
	url = https://github.com/sanjeed5/awesome-cursor-rules-mdc.git
[submodule "oh-my-openagent"]
	path = oh-my-openagent
	url = https://github.com/code-yeongyu/oh-my-openagent.git
[submodule "figma-console-mcp"]
	path = figma-console-mcp
	url = https://github.com/southleft/figma-console-mcp.git
[submodule "codex-with-chatgpt"]
	path = codex-with-chatgpt
	url = https://github.com/XiaoDuoYa/codex-with-chatgpt.git
